n8n/workflows/agent_research_specialist.json
{
  "name": "Agent: Web Research Specialist (Tool)",
  "nodes": [
    {
      "id": "rs-01",
      "name": "When Called by Agent",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-720, 0],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            { "name": "query", "type": "string" }
          ]
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a web research specialist. Use the Firecrawl Search tool to find relevant pages, then the Firecrawl Scrape tool to read the most promising ones. Synthesise a concise, factual answer to the request and ALWAYS list the source URLs you used at the end. If you cannot find reliable information, say so."
        }
      },
      "id": "rs-02",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-440, 0]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/google/gemini-2.5-flash-lite",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "rs-03",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-560, 224],
      "credentials": {
        "openAiApi": {
          "id": "XCNfqBJBUQGjrCbU",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\": \"{query}\", \"limit\": 5}",
        "placeholderDefinitions": {
          "values": [
            { "name": "query", "description": "Search query keywords" }
          ]
        },
        "optimizeResponse": true
      },
      "id": "rs-04",
      "name": "Firecrawl Search",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-380, 224]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"url\": \"{url}\", \"formats\": [\"markdown\"]}",
        "placeholderDefinitions": {
          "values": [
            { "name": "url", "description": "Full URL to scrape, e.g. https://example.com" }
          ]
        },
        "optimizeResponse": true
      },
      "id": "rs-05",
      "name": "Firecrawl Scrape",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-200, 224]
    }
  ],
  "connections": {
    "When Called by Agent": {
      "main": [[{ "node": "Research Agent", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Research Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Firecrawl Search": {
      "ai_tool": [[{ "node": "Research Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Firecrawl Scrape": {
      "ai_tool": [[{ "node": "Research Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
