n8n/workflows/ai_rag_ingest_firecrawl_qdrant.json
{
  "name": "[Demo] AI \u2014 RAG Ingest (Firecrawl \u2192 Qdrant)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag/ingest",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "ri-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "1bf994d7-1e26-4cc9-a788-b617c7c1697a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d54ae638-30f0-424b-9ee2-f183dc96c9f1",
              "name": "url",
              "type": "string",
              "value": "={{ $json.body.url || 'https://docs.n8n.io/integrations/builtin/cluster-nodes/' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ri-02",
      "name": "Set URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/scrape",
        "sendBody": true,
        "contentType": "rawText",
        "options": {}
      },
      "id": "ri-03",
      "name": "Scrape with Firecrawl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst d = resp.data || {};\nconst meta = d.metadata || {};\nreturn [{json: {\n  text: d.markdown || '',\n  metadata: {\n    url: meta.sourceURL || meta.url,\n    title: meta.title || 'Untitled',\n    scraped_at: new Date().toISOString()\n  }\n}}];"
      },
      "id": "ri-04",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "rag_examples",
          "mode": "id"
        },
        "options": {}
      },
      "id": "ri-05",
      "name": "Store in Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {},
      "id": "ri-06",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.3,
      "position": [
        904,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "7SoM6ZsaObayRno9",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "ri-07",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacter",
      "typeVersion": 1,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "url",
                "value": "={{ $json.metadata.url }}"
              },
              {
                "name": "title",
                "value": "={{ $json.metadata.title }}"
              }
            ]
          }
        }
      },
      "id": "ri-08",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1032,
        224
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set URL": {
      "main": [
        [
          {
            "node": "Scrape with Firecrawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape with Firecrawl": {
      "main": [
        [
          {
            "node": "Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "Store in Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Store in Qdrant",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Store in Qdrant",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
