n8n/workflows/cand_page_change_monitor.json
{
  "name": "[Cand] Page-Change Monitor (Firecrawl → AI diff → Slack)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {"field": "hours", "hoursInterval": 24}
          ]
        }
      },
      "id": "pm-01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pm-set-1",
              "name": "url",
              "type": "string",
              "value": "https://docs.n8n.io/release-notes/"
            },
            {
              "id": "pm-set-2",
              "name": "slack_channel",
              "type": "string",
              "value": "general"
            }
          ]
        },
        "options": {}
      },
      "id": "pm-02",
      "name": "Set Target",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "query": "CREATE TABLE IF NOT EXISTS page_snapshots (\n  id SERIAL PRIMARY KEY,\n  url TEXT,\n  content TEXT,\n  captured_at TIMESTAMPTZ DEFAULT now()\n);",
        "options": {}
      },
      "id": "pm-03",
      "name": "Ensure Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [440, 0],
      "credentials": {
        "postgres": {"id": "u9hMj8HxBdnjTZik", "name": "yai-postgres-nette"}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/scrape",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({url: $('Set Target').item.json.url, formats: ['markdown']}) }}",
        "options": {}
      },
      "id": "pm-04",
      "name": "Firecrawl Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [660, 0]
    },
    {
      "parameters": {
        "query": "SELECT content FROM page_snapshots WHERE url = $1 ORDER BY captured_at DESC LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$('Set Target').item.json.url] }}"
        }
      },
      "id": "pm-05",
      "name": "Get Previous",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, 0],
      "credentials": {
        "postgres": {"id": "u9hMj8HxBdnjTZik", "name": "yai-postgres-nette"}
      }
    },
    {
      "parameters": {
        "jsCode": "const newMd = (($('Firecrawl Scrape').item.json.data || {}).markdown || '').trim();\nconst prevRows = $input.all();\nconst prev = prevRows.length ? (prevRows[0].json.content || '') : '';\nconst changed = prev.trim() !== newMd && newMd.length > 0;\nreturn [{json: {\n  changed,\n  is_first_run: prev.length === 0,\n  url: $('Set Target').item.json.url,\n  slack_channel: $('Set Target').item.json.slack_channel,\n  new_content: newMd,\n  prev_content: prev.slice(0, 8000),\n  new_excerpt: newMd.slice(0, 8000)\n}}];"
      },
      "id": "pm-06",
      "name": "Compare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "pm-if-1",
              "leftValue": "={{ $json.changed }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "true", "singleValue": true}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "pm-07",
      "name": "Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A monitored web page changed. Summarise the meaningful differences in 3-5 concise bullet points. Ignore navigation, cookie banners, and boilerplate.\n\nPAGE: {{ $json.url }}\n\n--- PREVIOUS VERSION ---\n{{ $json.prev_content }}\n\n--- NEW VERSION ---\n{{ $json.new_excerpt }}",
        "messages": {"messageValues": []},
        "batching": {}
      },
      "id": "pm-08",
      "name": "Summarise Diff",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [1540, -120]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/openai/gpt-oss-120b:free",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "pm-09",
      "name": "LiteLLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1540, 100],
      "credentials": {
        "openAiApi": {"id": "7SoM6ZsaObayRno9", "name": "yai-litellm"}
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Set Target').item.json.slack_channel }}",
          "mode": "name"
        },
        "text": "=:bell: *Page changed:* {{ $('Set Target').item.json.url }}\n\n{{ $json.text }}",
        "otherOptions": {}
      },
      "id": "pm-10",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [1760, -120],
      "webhookId": "cand-pm-slack",
      "credentials": {
        "slackApi": {"id": "MszaAJ5MUYqhurpo", "name": "yai-slack"}
      }
    },
    {
      "parameters": {
        "query": "INSERT INTO page_snapshots (url, content) VALUES ($1, $2);",
        "options": {
          "queryReplacement": "={{ [$('Compare').item.json.url, $('Compare').item.json.new_content] }}"
        }
      },
      "id": "pm-11",
      "name": "Store Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1980, -120],
      "credentials": {
        "postgres": {"id": "u9hMj8HxBdnjTZik", "name": "yai-postgres-nette"}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {"main": [[{"node": "Set Target", "type": "main", "index": 0}]]},
    "Set Target": {"main": [[{"node": "Ensure Table", "type": "main", "index": 0}]]},
    "Ensure Table": {"main": [[{"node": "Firecrawl Scrape", "type": "main", "index": 0}]]},
    "Firecrawl Scrape": {"main": [[{"node": "Get Previous", "type": "main", "index": 0}]]},
    "Get Previous": {"main": [[{"node": "Compare", "type": "main", "index": 0}]]},
    "Compare": {"main": [[{"node": "Changed?", "type": "main", "index": 0}]]},
    "Changed?": {"main": [[{"node": "Summarise Diff", "type": "main", "index": 0}], []]},
    "Summarise Diff": {"main": [[{"node": "Slack Alert", "type": "main", "index": 0}]]},
    "Slack Alert": {"main": [[{"node": "Store Snapshot", "type": "main", "index": 0}]]},
    "LiteLLM": {"ai_languageModel": [[{"node": "Summarise Diff", "type": "ai_languageModel", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
