n8n/workflows/cand_website_chat_rag_ingest.json
{
  "name": "[Cand] Chat-with-Website — Crawl Ingest (Firecrawl map → Qdrant)",
  "nodes": [
    {
      "parameters": {},
      "id": "wc-01",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wc-set-1",
              "name": "domain",
              "type": "string",
              "value": "https://docs.n8n.io"
            },
            {
              "id": "wc-set-2",
              "name": "max_pages",
              "type": "number",
              "value": 10
            }
          ]
        },
        "options": {}
      },
      "id": "wc-02",
      "name": "Set Domain",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/map",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({url: $json.domain}) }}",
        "options": {}
      },
      "id": "wc-03",
      "name": "Firecrawl Map",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst links = resp.links || (resp.data && resp.data.links) || [];\nconst max = $('Set Domain').item.json.max_pages || 10;\nconst urls = (Array.isArray(links) ? links : [])\n  .map(l => (typeof l === 'string' ? l : (l && l.url)))\n  .filter(Boolean)\n  .slice(0, max);\nreturn urls.map(u => ({json: {url: u}}));"
      },
      "id": "wc-04",
      "name": "Expand URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/scrape",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({url: $json.url, formats: ['markdown']}) }}",
        "options": {}
      },
      "id": "wc-05",
      "name": "Scrape Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst d = resp.data || {};\nconst meta = d.metadata || {};\nreturn [{json: {\n  text: d.markdown || '',\n  metadata: {\n    url: meta.sourceURL || meta.url || '',\n    title: meta.title || 'Untitled',\n    scraped_at: new Date().toISOString()\n  }\n}}];"
      },
      "id": "wc-06",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "website_chat",
          "mode": "id"
        },
        "options": {}
      },
      "id": "wc-07",
      "name": "Store in Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [1320, 0],
      "credentials": {
        "qdrantApi": {"id": "ECJrqkGyQpwbY0c5", "name": "yai-qdrant"}
      }
    },
    {
      "parameters": {},
      "id": "wc-08",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.3,
      "position": [1320, 224],
      "credentials": {
        "openAiApi": {"id": "7SoM6ZsaObayRno9", "name": "yai-litellm"}
      }
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "wc-09",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacter",
      "typeVersion": 1,
      "position": [1100, 440]
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {"name": "url", "value": "={{ $json.metadata.url }}"},
              {"name": "title", "value": "={{ $json.metadata.title }}"}
            ]
          }
        }
      },
      "id": "wc-10",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1480, 224]
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Set Domain", "type": "main", "index": 0}]]},
    "Set Domain": {"main": [[{"node": "Firecrawl Map", "type": "main", "index": 0}]]},
    "Firecrawl Map": {"main": [[{"node": "Expand URLs", "type": "main", "index": 0}]]},
    "Expand URLs": {"main": [[{"node": "Scrape Page", "type": "main", "index": 0}]]},
    "Scrape Page": {"main": [[{"node": "Prepare Document", "type": "main", "index": 0}]]},
    "Prepare Document": {"main": [[{"node": "Store in Qdrant", "type": "main", "index": 0}]]},
    "Embeddings": {"ai_embedding": [[{"node": "Store in Qdrant", "type": "ai_embedding", "index": 0}]]},
    "Document Loader": {"ai_document": [[{"node": "Store in Qdrant", "type": "ai_document", "index": 0}]]},
    "Text Splitter": {"ai_textSplitter": [[{"node": "Document Loader", "type": "ai_textSplitter", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
