n8n/workflows/core_batch_processing.json
{
  "name": "[Demo] Core \u2014 Batch Processing",
  "nodes": [
    {
      "parameters": {},
      "id": "bp-01",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simulate 20 infrastructure events\nconst categories = ['compute', 'storage', 'network', 'security'];\nreturn Array.from({length: 20}, (_, i) => ({json: {\n  id: `evt-${String(i+1).padStart(3,'0')}`,\n  category: categories[i % categories.length],\n  service: `service-${String.fromCharCode(65 + i % 8)}`,\n  value: Math.floor(Math.random() * 100) + 1,\n  active: Math.random() > 0.3,\n  timestamp: new Date(Date.now() - i * 60000).toISOString()\n}}));"
      },
      "id": "bp-02",
      "name": "Generate Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "575fb344-f563-44c3-b2bb-4f1b5ba87e15",
              "leftValue": "={{ $json.active }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "22182882-a00c-43bc-86f1-10a8cdbbea5e",
              "leftValue": "={{ $json.value }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bp-03",
      "name": "Filter Active > 30",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        448,
        48
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "value",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "bp-04",
      "name": "Sort by Value",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        672,
        48
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "bp-05",
      "name": "Loop (batch 5)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Add tier label and score based on value\nreturn $input.all().map(item => {\n  const v = item.json.value;\n  return {json: {\n    ...item.json,\n    tier: v >= 80 ? 'critical' : v >= 60 ? 'high' : v >= 40 ? 'medium' : 'low',\n    score: parseFloat((v / 100).toFixed(2))\n  }};\n});"
      },
      "id": "bp-06",
      "name": "Enrich Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        96
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "events",
        "options": {}
      },
      "id": "bp-07",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        -96
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id"
            },
            {
              "aggregation": "sum",
              "field": "value"
            },
            {
              "aggregation": "average",
              "field": "value"
            },
            {
              "aggregation": "max",
              "field": "value"
            }
          ]
        },
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "id": "bp-08",
      "name": "Summarize by Category",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1344,
        -96
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Generate Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Items": {
      "main": [
        [
          {
            "node": "Filter Active > 30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active > 30": {
      "main": [
        [
          {
            "node": "Sort by Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Value": {
      "main": [
        [
          {
            "node": "Loop (batch 5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop (batch 5)": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enrich Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Batch": {
      "main": [
        [
          {
            "node": "Loop (batch 5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Summarize by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
