n8n/workflows/nette_summarize.json
{
  "name": "Nette Summarize",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "ns-01",
      "name": "When Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        32
      ]
    },
    {
      "parameters": {},
      "id": "ns-02",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT guid, title, link, content FROM rss_articles WHERE state = 'pending' ORDER BY created_at ASC LIMIT 50",
        "options": {}
      },
      "id": "ns-03",
      "name": "PG Fetch Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        128
      ],
      "credentials": {
        "postgres": {
          "id": "u9hMj8HxBdnjTZik",
          "name": "yai-postgres-nette"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ns-04",
      "name": "Loop Pending",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst text = (item.content || '')\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 8000);\nreturn [{ json: { guid: item.guid, title: item.title, link: item.link,\n  prompt: `Summarise this Nette blog post in 3 concise sentences. Czech language is acceptable.\\n\\nTitle: ${item.title}\\n\\nContent: ${text}` } }];"
      },
      "id": "ns-05",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "id": "ns-06",
      "name": "AI Summarize",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        496,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/openai/gpt-oss-120b:free",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 400
        }
      },
      "id": "ns-07",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "7SoM6ZsaObayRno9",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rss_articles SET summary = '{{ $json.text.replace(/'/g, \"''\") }}', state = 'summarized' WHERE guid = '{{ $('Prepare Prompt').item.json.guid }}'",
        "options": {}
      },
      "id": "ns-08",
      "name": "PG Update Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        128
      ],
      "credentials": {
        "postgres": {
          "id": "u9hMj8HxBdnjTZik",
          "name": "yai-postgres-nette"
        }
      }
    }
  ],
  "connections": {
    "When Called by Orchestrator": {
      "main": [
        [
          {
            "node": "PG Fetch Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "PG Fetch Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Fetch Pending": {
      "main": [
        [
          {
            "node": "Loop Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Pending": {
      "main": [
        [],
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "AI Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarize",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarize": {
      "main": [
        [
          {
            "node": "PG Update Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Update Summary": {
      "main": [
        [
          {
            "node": "Loop Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
