n8n/workflows/nette_rag_tool.json
{
  "name": "Nette RAG (Tool)",
  "nodes": [
    {
      "id": "nrt-01",
      "name": "When Called by Agent",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "nrt-02",
      "name": "Search Nette Docs",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        240,
        0
      ],
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "nette_docs",
          "mode": "list",
          "cachedResultName": "nette_docs"
        },
        "prompt": "={{ $json.query }}",
        "topK": 6,
        "includeDocumentMetadata": true,
        "options": {
          "contentPayloadKey": "content",
          "metadataPayloadKey": "metadata"
        }
      },
      "credentials": {
        "qdrantApi": {
          "id": "X12N4Iz0B7vQE7nU",
          "name": "yai-qdrant"
        }
      }
    },
    {
      "id": "nrt-03",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        224
      ],
      "parameters": {
        "model": "=openrouter/nvidia/llama-nemotron-embed-vl-1b-v2:free",
        "options": {
          "encodingFormat": "float"
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "TprFxcZ1iNKkotHG",
          "name": "yai-litellm"
        }
      }
    },
    {
      "id": "nrt-04",
      "name": "Format Passages + Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "jsCode": "const docs = $input.all();\nif (!docs.length) {\n  return [{ json: { response: 'No relevant Nette documentation found for this query.' } }];\n}\nconst blocks = docs.map((d, i) => {\n  const doc = (d.json && d.json.document) || {};\n  const meta = doc.metadata || {};\n  const title = meta.title || 'Untitled';\n  const url = meta.url || '';\n  const content = (doc.pageContent || '').trim();\n  return `[${i + 1}] ${title}\\nSource: ${url}\\n\\n${content}`;\n});\nconst response = blocks.join('\\n\\n---\\n\\n');\nreturn [{ json: { response } }];"
      }
    }
  ],
  "connections": {
    "When Called by Agent": {
      "main": [
        [
          {
            "node": "Search Nette Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Search Nette Docs",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Search Nette Docs": {
      "main": [
        [
          {
            "node": "Format Passages + Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
