n8n/workflows/nette_rag_chat.json
{
  "name": "Nette RAG Chat",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are an intelligent assistant specialized in answering user questions using Nostr user profiles. Your primary goal is to provide precise, contextually relevant, and concise answers based on the tools and resources available.\n\n### TOOL\nUse the \"nostr_damus_user_profiles\" tool to:\n- perform semantic similarity searches and retrieve information from Nostr user profiles relevant to the user's query.\n- access detailed information about Nostr and/or Damus users when additional context or specifics are required.\n\n### Key Instructions\n1. **Response Guidelines**:\n   - Clearly explain how the retrieved information addresses the user's query, if applicable.\n   - If no relevant information is found, respond with: \"I cannot find the answer in the available resources.\"\n\n2. **Focus and Relevance**:\n   - Ensure all responses are directly aligned with the user's question.\n   - Avoid including extraneous details or relying solely on internal knowledge.\n"
        }
      },
      "id": "c73304c8-e2c6-48b4-b92a-61be7cae7b8b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1312,
        1872
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "contextWindowLength": 40
      },
      "id": "bbcc13fb-2613-49e6-9d24-de3eeabc2788",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1360,
        2160
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "088728da-08e1-4235-bacc-17ebdc936e04",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        752,
        1856
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## \ud83e\udd16Retrieve Content from Qdrant Vector Store",
        "height": 680,
        "width": 860,
        "color": 5
      },
      "id": "a63c66db-f9fe-4f78-b800-df72682ba372",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## \ud83d\udde3\ufe0f Chat with Your Documents",
        "height": 320,
        "width": 340,
        "color": 4
      },
      "id": "80111cf6-430e-4938-ac42-7d2583f1b32b",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 2 - Chat with Your Documents from Qdrant Vector Store",
        "height": 880,
        "width": 1780,
        "color": 7
      },
      "id": "b46a2119-b718-4537-a141-c29aa9e2ac09",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        1632
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.output }}",
        "name": "=Nostr Chatbot - Avatar - {{ $now }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "cafe2941-33b8-42c1-86e7-6c46984a8b86",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2032,
        2272
      ],
      "typeVersion": 3,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd8f88e1-19c0-4b9e-914d-e2e7ba21d9fa",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a95130dd-9590-41a5-b5fa-595df4e74a0c",
      "name": "Respond to User",
      "type": "n8n-nodes-base.set",
      "position": [
        2016,
        1856
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Save Chat History",
        "height": 300,
        "width": 340,
        "color": 4
      },
      "id": "491f465a-9f3c-4c5b-89f5-a9ec25247eee",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "8f78c044-f52e-43a0-bbf8-3c4a53930850",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1152,
        2240
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        2128
      ],
      "id": "c9a4b2eb-888d-496f-a764-e7f231e72e63",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "vV7sTwDX6qVcDl02",
          "name": "yai-openrouter"
        }
      }
    },
    {
      "parameters": {
        "model": "=openrouter/nvidia/llama-nemotron-embed-vl-1b-v2:free",
        "options": {
          "encodingFormat": "float"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1648,
        2576
      ],
      "id": "1e5005b4-b486-49d4-96f7-383f89efe812",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "7SoM6ZsaObayRno9",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "nette_docs",
          "mode": "list",
          "cachedResultName": "nette_docs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1584,
        2336
      ],
      "id": "3f0f1f6f-c3ad-42d9-b1ab-345e8de7d912",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "ECJrqkGyQpwbY0c5",
          "name": "yai-qdrant"
        }
      }
    },
    {
      "parameters": {
        "description": "You can search in Nette Documentation"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1632,
        2080
      ],
      "id": "f8ff2544-caca-4621-8a72-8bb39bff6d06",
      "name": "Answer questions with a vector store"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        []
      ],
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
