n8n/workflows/ocr_ingest_vision_qdrant.json
{
  "name": "KB Ingest: OCR (Vision -> Qdrant)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ocr/ingest",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "oc-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-720, 0],
      "webhookId": "c7e9aa10-ocr0-4d11-8e22-vision000001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "oc-set-url",
              "name": "imageUrl",
              "type": "string",
              "value": "={{ $json.body.image_url || 'https://upload.wikimedia.org/wikipedia/commons/2/27/Sample_scanned_document.png' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "oc-02",
      "name": "Set Image URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-500, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:24000/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'openrouter/google/gemini-2.5-flash-lite', messages: [ { role: 'user', content: [ { type: 'text', text: 'You are an OCR engine. Transcribe ALL text in this image into clean GitHub-flavored markdown. Preserve headings, lists and tables. Output ONLY the transcription, no commentary.' }, { type: 'image_url', image_url: { url: $json.imageUrl } } ] } ] }) }}",
        "options": {}
      },
      "id": "oc-03",
      "name": "LiteLLM Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-280, 0],
      "credentials": {
        "openAiApi": {
          "id": "XCNfqBJBUQGjrCbU",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst md = resp.choices && resp.choices[0] && resp.choices[0].message ? (resp.choices[0].message.content || '') : '';\nconst src = $('Set Image URL').first().json.imageUrl;\nreturn [{ json: {\n  text: md,\n  metadata: {\n    url: src,\n    source: src,\n    title: 'OCR: ' + (src.split('/').pop() || 'document'),\n    ingested_at: new Date().toISOString()\n  }\n} }];"
      },
      "id": "oc-04",
      "name": "Parse OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-60, 0]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "ocr_docs",
          "mode": "id"
        },
        "options": {}
      },
      "id": "oc-05",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [180, 0],
      "credentials": {
        "qdrantApi": {
          "id": "KtAQHFYLAhtuImNo",
          "name": "yai-qdrant"
        }
      }
    },
    {
      "parameters": {
        "model": "=openrouter/nvidia/llama-nemotron-embed-vl-1b-v2:free",
        "options": {
          "encodingFormat": "float"
        }
      },
      "id": "oc-06",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [100, 224],
      "credentials": {
        "openAiApi": {
          "id": "XCNfqBJBUQGjrCbU",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              { "name": "url", "value": "={{ $json.metadata.url }}" },
              { "name": "title", "value": "={{ $json.metadata.title }}" }
            ]
          }
        }
      },
      "id": "oc-07",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [300, 224]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Set Image URL", "type": "main", "index": 0 }]]
    },
    "Set Image URL": {
      "main": [[{ "node": "LiteLLM Vision OCR", "type": "main", "index": 0 }]]
    },
    "LiteLLM Vision OCR": {
      "main": [[{ "node": "Parse OCR", "type": "main", "index": 0 }]]
    },
    "Parse OCR": {
      "main": [[{ "node": "Qdrant Vector Store", "type": "main", "index": 0 }]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{ "node": "Qdrant Vector Store", "type": "ai_embedding", "index": 0 }]]
    },
    "Default Data Loader": {
      "ai_document": [[{ "node": "Qdrant Vector Store", "type": "ai_document", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
