n8n/workflows/rag_nette_docs.json
{
  "name": "RAG: Nette Docs",
  "nodes": [
    {
      "parameters": {},
      "id": "924afe69-29b0-4f85-83b2-76ba97d737c6",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/map",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{ \"url\": \"https://doc.nette.org\", \"limit\": 500 }",
        "options": {}
      },
      "id": "fc-map-node-0001-aabbccdd1122",
      "name": "Firecrawl Map Nette",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -784,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/map",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{ \"url\": \"https://contributte.org\", \"limit\": 500 }",
        "options": {}
      },
      "id": "fc-map-contrib-0001-aabbccdd1122",
      "name": "Firecrawl Map Contributte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -784,
        64
      ]
    },
    {
      "parameters": {},
      "id": "fc-merge-0001-aabbccdd1122",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -560,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const allLinks = [];\nfor (const item of $input.all()) {\n  const links = item.json.links || [];\n  allLinks.push(...links);\n}\n\nconst seen = new Set();\nconst result = [];\nfor (const url of allLinks) {\n  if (seen.has(url)) continue;\n  seen.add(url);\n\n  // Skip anchor URLs\n  if (url.includes('#')) continue;\n\n  // doc.nette.org: English (/en/) only\n  if (url.includes('doc.nette.org') && !/\\/en\\//.test(url)) continue;\n\n  // Only pages on target domains\n  if (!url.includes('doc.nette.org') && !url.includes('contributte.org')) continue;\n\n  result.push({ json: { url } });\n}\n\nreturn result;"
      },
      "id": "fc-extract-0001-aabbccdd1122",
      "name": "Filter + Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fc-loop-node-0001-aabbccdd1122",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:26000/collections/nette_docs/points/count",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ filter: { must: [{ key: 'metadata.url', match: { value: $json.url } }] } }) }}",
        "options": {}
      },
      "id": "fc-check-qdrant-0001-aabbccdd1122",
      "name": "Check in Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-count-gt-zero",
              "leftValue": "={{ $json.result.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fc-if-indexed-0001-aabbccdd1122",
      "name": "IF Already Indexed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/scrape",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ url: $('Loop').item.json.url, formats: [\"markdown\"] }) }}",
        "options": {}
      },
      "id": "fc-scrape-0001-aabbccdd1122",
      "name": "Firecrawl Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst d = resp.data || {};\nconst meta = d.metadata || {};\nreturn [{ json: {\n  text: d.markdown || '',\n  metadata: {\n    url: meta.sourceURL || meta.url || '',\n    title: meta.title || 'Untitled',\n    scraped_at: new Date().toISOString()\n  }\n} }];"
      },
      "id": "fc-prepare-0001-aabbccdd1122",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "nette_docs",
          "mode": "list",
          "cachedResultName": "nette_docs"
        },
        "options": {}
      },
      "id": "96eeac6d-7f0e-4123-822a-2f29d642d375",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1008,
        -96
      ],
      "credentials": {
        "qdrantApi": {
          "id": "ECJrqkGyQpwbY0c5",
          "name": "yai-qdrant"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "url",
                "value": "={{ $json.metadata.url }}"
              },
              {
                "name": "title",
                "value": "={{ $json.metadata.title }}"
              }
            ]
          }
        }
      },
      "id": "51dc0940-8ecc-432a-a5aa-d008415b14c9",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1152,
        144
      ]
    },
    {
      "parameters": {
        "model": "=openrouter/nvidia/llama-nemotron-embed-vl-1b-v2:free",
        "options": {
          "encodingFormat": "float"
        }
      },
      "id": "61a103d3-cebb-4603-8a09-3f53f926649d",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "7SoM6ZsaObayRno9",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "availableInChat": true,
        "agentName": "Nette RAG",
        "suggestedPrompts": {
          "prompts": [
            {
              "text": "What is Nette?"
            }
          ]
        },
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "id": "cbbe9488-e873-477b-99e5-580f89f1a366",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -944,
        592
      ],
      "webhookId": "b4df3166-f762-43d0-a03a-001194eabdd5"
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "You are an assistant for question-answering tasks. Use the following pieces of retrieved context to answer the question.\n\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\nContext: {context}"
        }
      },
      "id": "da6ff462-9ab2-40f4-bb04-80ae563c2852",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        -608,
        592
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "=openrouter/openai/gpt-oss-120b:free",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "a8ea43a4-4b50-44a1-a47d-6de13408779e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -672,
        816
      ],
      "credentials": {
        "openAiApi": {
          "id": "7SoM6ZsaObayRno9",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "topK": 10
      },
      "id": "82b691d6-f437-43ea-ad81-9dbe015cf5f7",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -512,
        816
      ]
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "nette_docs",
          "mode": "list",
          "cachedResultName": "nette_docs"
        },
        "options": {
          "contentPayloadKey": "content",
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "35f052bb-fa90-402d-86b3-b77628638307",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -512,
        1024
      ],
      "credentials": {
        "qdrantApi": {
          "id": "ECJrqkGyQpwbY0c5",
          "name": "yai-qdrant"
        }
      }
    },
    {
      "parameters": {
        "model": "=openrouter/nvidia/llama-nemotron-embed-vl-1b-v2:free",
        "options": {
          "encodingFormat": "float"
        }
      },
      "id": "b19a1fae-14a8-4bdc-b0f8-8a2556560b86",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -432,
        1232
      ],
      "credentials": {
        "openAiApi": {
          "id": "7SoM6ZsaObayRno9",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "id": "662acfdd-e104-4927-8c41-b0d26fdcdbf9",
      "name": "Simple Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -224,
        1024
      ]
    },
    {
      "parameters": {
        "message": "={{ $json.response }}",
        "options": {}
      },
      "id": "8a604aaf-3fd7-4ecc-95d7-7c3ca3a296bb",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -144,
        592
      ],
      "webhookId": "db7beb0d-9623-4cb3-b390-a84dde563660"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Firecrawl Map Nette",
            "type": "main",
            "index": 0
          },
          {
            "node": "Firecrawl Map Contributte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Map Nette": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Map Contributte": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter + Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter + Deduplicate": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Check in Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check in Qdrant": {
      "main": [
        [
          {
            "node": "IF Already Indexed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Already Indexed": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Firecrawl Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scrape": {
      "main": [
        [
          {
            "node": "Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_vectorStore": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
