n8n/workflows/rag_with_citations.json
{
  "name": "RAG: Chat with Citations",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "rc-01",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-720, 0],
      "webhookId": "f3a1c2d4-aa11-4b22-9c33-citations0001"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "nette_docs",
          "mode": "list",
          "cachedResultName": "nette_docs"
        },
        "prompt": "={{ $json.chatInput }}",
        "topK": 6,
        "options": {
          "contentPayloadKey": "content",
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "rc-02",
      "name": "Qdrant Retrieve",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [-480, 0],
      "credentials": {
        "qdrantApi": {
          "id": "KtAQHFYLAhtuImNo",
          "name": "yai-qdrant"
        }
      }
    },
    {
      "parameters": {
        "model": "=openrouter/nvidia/llama-nemotron-embed-vl-1b-v2:free",
        "options": {
          "encodingFormat": "float"
        }
      },
      "id": "rc-03",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [-480, 224],
      "credentials": {
        "openAiApi": {
          "id": "XCNfqBJBUQGjrCbU",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build a numbered context block and a parallel sources list from the\n// retrieved Qdrant documents, so citations are deterministic (not left to the LLM).\nconst items = $input.all();\nconst seen = new Set();\nlet context = '';\nconst sources = [];\nlet n = 0;\nfor (const item of items) {\n  const d = item.json.document || item.json;\n  const text = d.pageContent || d.content || d.text || '';\n  const meta = d.metadata || {};\n  const url = meta.url || meta.source || meta.sourceURL || 'unknown';\n  // De-duplicate by source URL so the same page isn't cited twice.\n  if (seen.has(url)) continue;\n  seen.add(url);\n  n += 1;\n  const title = meta.title || url;\n  context += `[${n}] ${title} — ${url}\\n${text}\\n\\n`;\n  sources.push(`[${n}] ${title} — ${url}`);\n}\nconst question = $('When chat message received').first().json.chatInput;\nreturn [{ json: {\n  question,\n  context: context || 'No relevant documents were found.',\n  sourcesText: sources.join('\\n')\n} }];"
      },
      "id": "rc-04",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You answer questions about the Nette / Contributte PHP frameworks using ONLY the numbered context below. Cite every claim inline with the matching [n] marker. If the context does not contain the answer, say you don't know — do not invent sources.\n\nQuestion:\n{{ $json.question }}\n\nContext:\n{{ $json.context }}",
        "messages": {
          "messageValues": []
        }
      },
      "id": "rc-05",
      "name": "Answer with Citations",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [40, 0]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/google/gemini-2.5-flash-lite",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "rc-06",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [40, 224],
      "credentials": {
        "openAiApi": {
          "id": "XCNfqBJBUQGjrCbU",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Append the deterministic Sources list under the model's answer.\nconst answer = $json.text || $json.output || $json.response || '';\nconst sources = $('Build Context').first().json.sourcesText || '';\nconst out = sources\n  ? `${answer}\\n\\n---\\nSources:\\n${sources}`\n  : answer;\nreturn [{ json: { output: out } }];"
      },
      "id": "rc-07",
      "name": "Append Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 0]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "Qdrant Retrieve", "type": "main", "index": 0 }]]
    },
    "Qdrant Retrieve": {
      "main": [[{ "node": "Build Context", "type": "main", "index": 0 }]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{ "node": "Qdrant Retrieve", "type": "ai_embedding", "index": 0 }]]
    },
    "Build Context": {
      "main": [[{ "node": "Answer with Citations", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Answer with Citations", "type": "ai_languageModel", "index": 0 }]]
    },
    "Answer with Citations": {
      "main": [[{ "node": "Append Sources", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
