n8n/workflows/rag_nette_docs.json
{
  "name": "RAG: Nette Docs",
  "nodes": [
    {
      "parameters": {},
      "id": "7b0fa343-53a8-4b73-a6b8-2d10cec9cf28",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/map",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{ \"url\": \"https://doc.nette.org\", \"limit\": 500 }",
        "options": {}
      },
      "id": "7897d121-ce5e-4555-89e1-b989e9760e32",
      "name": "Firecrawl Map Nette",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/map",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{ \"url\": \"https://contributte.org\", \"limit\": 500 }",
        "options": {}
      },
      "id": "7b50b70a-acf2-4489-9535-4f4d249530d9",
      "name": "Firecrawl Map Contributte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        224
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "75abd929-cd8b-4f36-8631-9ceb3d005663",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -672,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const allLinks = [];\nfor (const item of $input.all()) {\n  const links = item.json.links || [];\n  allLinks.push(...links);\n}\n\nconst seen = new Set();\nconst result = [];\nfor (const url of allLinks) {\n  if (seen.has(url)) continue;\n  seen.add(url);\n\n  // Skip anchor URLs\n  if (url.includes('#')) continue;\n\n  // doc.nette.org: English (/en/) only\n  if (url.includes('doc.nette.org') && !/\\/en\\//.test(url)) continue;\n\n  // Only pages on target domains\n  if (!url.includes('doc.nette.org') && !url.includes('contributte.org')) continue;\n\n  result.push({ json: { url } });\n}\n\nreturn result;"
      },
      "id": "878e5128-9274-4a2c-8e04-59fe6a0eb0e0",
      "name": "Filter + Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "94756722-c574-4abd-b962-b5f337e565ef",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:26000/collections/nette_docs/points/count",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ filter: { must: [{ key: 'metadata.url', match: { value: $json.url } }] } }) }}",
        "options": {}
      },
      "id": "a55050a3-f0a6-45b5-a99b-50a2b27c0323",
      "name": "Check in Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-count-gt-zero",
              "leftValue": "={{ $json.result.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b82ad107-3642-42be-8df4-f8863e54117c",
      "name": "IF Already Indexed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:21000/v1/scrape",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ url: $('Loop').item.json.url, formats: [\"markdown\"] }) }}",
        "options": {}
      },
      "id": "2ce4b9a9-a986-470b-9a36-5f89ac7ecbb0",
      "name": "Firecrawl Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst d = resp.data || {};\nconst meta = d.metadata || {};\nreturn [{ json: {\n  text: d.markdown || '',\n  metadata: {\n    url: meta.sourceURL || meta.url || '',\n    title: meta.title || 'Untitled',\n    scraped_at: new Date().toISOString()\n  }\n} }];"
      },
      "id": "dcaacb72-5187-4fcd-a298-cb82c8c32dbd",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "nette_docs",
          "mode": "list",
          "cachedResultName": "nette_docs"
        },
        "options": {}
      },
      "id": "134bdb7e-5830-4e1a-ae66-06e0ccfbce55",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        928,
        16
      ],
      "credentials": {
        "qdrantApi": {
          "id": "X12N4Iz0B7vQE7nU",
          "name": "yai-qdrant"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "url",
                "value": "={{ $json.metadata.url }}"
              },
              {
                "name": "title",
                "value": "={{ $json.metadata.title }}"
              }
            ]
          }
        },
        "dataType": "json",
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}"
      },
      "id": "ea997420-0298-45f4-a240-088d88d5ca73",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1136,
        304
      ]
    },
    {
      "parameters": {
        "model": "=openrouter/nvidia/llama-nemotron-embed-vl-1b-v2:free",
        "options": {
          "encodingFormat": "float"
        }
      },
      "id": "3cd41506-6c17-4081-8e62-230d6073b623",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "TprFxcZ1iNKkotHG",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "availableInChat": true,
        "agentName": "Nette RAG",
        "suggestedPrompts": {
          "prompts": [
            {
              "text": "What is Nette?"
            }
          ]
        },
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "id": "98faea32-0acb-442c-834d-d52e32e5b200",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1056,
        752
      ],
      "webhookId": "b4df3166-f762-43d0-a03a-001194eabdd5"
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "You are an assistant for question-answering tasks. Use the following pieces of retrieved context to answer the question.\n\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\nContext: {context}"
        }
      },
      "id": "fe8cd69d-ff70-4e1a-a333-98d7bf62dc64",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        -720,
        752
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/google/gemini-2.5-flash-lite",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "81207463-433c-4f59-a4b0-8e1414859fcc",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -784,
        976
      ],
      "credentials": {
        "openAiApi": {
          "id": "TprFxcZ1iNKkotHG",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "topK": 10
      },
      "id": "a7a612fd-f706-4d17-8579-aa9cff3df7da",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -624,
        976
      ]
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "nette_docs",
          "mode": "list",
          "cachedResultName": "nette_docs"
        },
        "options": {
          "contentPayloadKey": "content",
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "3708e568-d126-4d1c-8ae1-d82159ecc39b",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -624,
        1184
      ],
      "credentials": {
        "qdrantApi": {
          "id": "X12N4Iz0B7vQE7nU",
          "name": "yai-qdrant"
        }
      }
    },
    {
      "parameters": {
        "model": "=openrouter/nvidia/llama-nemotron-embed-vl-1b-v2:free",
        "options": {
          "encodingFormat": "float"
        }
      },
      "id": "6c4b229e-8705-46e9-aedc-ddf9f9f6e6be",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -544,
        1392
      ],
      "credentials": {
        "openAiApi": {
          "id": "TprFxcZ1iNKkotHG",
          "name": "yai-litellm"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.response }}",
        "options": {}
      },
      "id": "61653527-7343-4851-b4dd-538cd5816a7e",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        -256,
        752
      ],
      "webhookId": "db7beb0d-9623-4cb3-b390-a84dde563660"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Firecrawl Map Nette",
            "type": "main",
            "index": 0
          },
          {
            "node": "Firecrawl Map Contributte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Map Nette": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Map Contributte": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter + Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter + Deduplicate": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Check in Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check in Qdrant": {
      "main": [
        [
          {
            "node": "IF Already Indexed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Already Indexed": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Firecrawl Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scrape": {
      "main": [
        [
          {
            "node": "Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
